body {
  font-family: "Vazirmatn", Tahoma, sans-serif;
  background: #f4f7f9;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1000px;
  width: 100%;
}
h1 {
  text-align: center;
  color: #1e3a8a;
}
textarea#all-configs {
  width: 100%;
  height: 90vh; /* تقریبا کل صفحه */
  padding: 15px;
  font-family: "Consolas", monospace;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 6px;
  resize: none;
  background: #ffffff;
  color: #111;
}
.update-info {
  text-align: center;
  font-size: 0.8em;
  color: #555;
  margin-top: 10px;
}
